<div class="wrapper" >
  <h2 class="header">About // Description // Contact</h2>

  <div class="tagline">Mission tag line.  </div>

  <div class="main-description">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil atque laboriosam veniam cumque aliquam eum laborum odit quaerat reprehenderit natus voluptatum doloribus, velit praesentium provident, maxime illum quasi tenetur iste? Deleniti dolor, optio dolorem ratione nostrum unde quisquam perspiciatis numquam saepe recusandae sapiente necessitatibus rem neque officia facere hic natus assumenda cum veniam earum repellendus perferendis maiores error et. Molestiae.</p>

  </div>

  <p>Check out our <span routerLink="/shop">Shop!</span></p>

</div>