<mat-toolbar>
  <div class="toolbar">
      <div class="page-header">
          <div routerLink="/" class="logo">Logo</div>
          <div class="nav-directory" > {{title}} </div>
      </div> 


      <div class="navigation">
          <div class="searchbar">
              <input type="text" placeholder="Search">
          </div>   

          <div class="nav-articles">
              <div routerLink="/video" >Video</div>
              <div routerLink="/gallery" >Gallery</div>
              <div routerLink="/shop" >Shop</div>
              <div routerLink="/articles" >Blog</div>
          </div>
      </div>
      
  </div>
</mat-toolbar>








