<p>
  shop-details works!
</p>
<div class="wrapper">
    <div class="photo"> </div>
  
    <div class="details">
      <div class="default">
        <div class="item-name">Item name</div>
        <div class="cost">$60</div>
      </div>
  
      <div class="secondary">
        <!-- drop down menus to recieve and track user decisions.. gonna need something in the ts file and a bubble like aninmation -->
        <div class="choice">Size
          ******
        </div> <div class="filler"></div>
        <div class="choice">Quantity
          ******
        </div>
        <div class="choice">Color
          ******
        </div>
      </div>
  
      <div class="item-description">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam laboriosam sunt, nihil necessitatibus culpa quibusdam! Saepe maiores suscipit voluptatibus inventore obcaecati, sunt omnis facilis fuga ratione? Praesentium quos numquam adipisci.
      </div>
  
    </div>
  
  
  </div>
  