

<div class="video-column">
  <!-- ngIf and ngFor info will go in the div description right above this line and the rest is just interpolation -->
  <div class="video-title-date">
    <!-- click function for title to be redirected to the details page -->
    <div routerLink="/video-details" >title</div>
    <div>date</div>
  </div>

  <div class="video-port" >
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCTdxD8djLyLpdxYfZjaVRKWnf3dH4G9Jm0LngEtEWGEov0y06nA">
  </div>
  
  <div class="video-details">

    <div class="artists-involved">
      <div class="pop">Artist</div>
      <div class="pop">Artist</div>
      <div class="pop">Artist</div>
      <div class="pop">Artist</div>
      <div class="pop">Artist</div>
      <div class="pop">Artist</div>

    </div>
  </div>
</div>

<div class="video-column">
    <!-- ngIf and ngFor info will go in the div description right above this line and the rest is just interpolation -->
    <div class="video-title-date">
      <!-- click function for title to be redirected to the details page -->
      <div routerLink="/video-details" >title</div>
      <div>date</div>
    </div>
  
    <div class="video-port" >
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCTdxD8djLyLpdxYfZjaVRKWnf3dH4G9Jm0LngEtEWGEov0y06nA">
    </div>
    
    <div class="video-details">
  
      <div class="artists-involved">
        <div class="pop">Artist</div>
        <div class="pop">Artist</div>
        <div class="pop">Artist</div>
        <div class="pop">Artist</div>
        <div class="pop">Artist</div>
        <div class="pop">Artist</div>
  
      </div>
    </div>
  </div>

  <div class="video-column">
      <!-- ngIf and ngFor info will go in the div description right above this line and the rest is just interpolation -->
      <div class="video-title-date">
        <!-- click function for title to be redirected to the details page -->
        <div routerLink="/video-details" >title</div>
        <div>date</div>
      </div>
    
      <div class="video-port" >
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCTdxD8djLyLpdxYfZjaVRKWnf3dH4G9Jm0LngEtEWGEov0y06nA">
      </div>
      
      <div class="video-details">
    
        <div class="artists-involved">
          <div class="pop">Artist</div>
          <div class="pop">Artist</div>
          <div class="pop">Artist</div>
          <div class="pop">Artist</div>
          <div class="pop">Artist</div>
          <div class="pop">Artist</div>
    
        </div>
      </div>
    </div>

    <div class="video-column">
        <!-- ngIf and ngFor info will go in the div description right above this line and the rest is just interpolation -->
        <div class="video-title-date">
          <!-- click function for title to be redirected to the details page -->
          <div routerLink="/video-details" >title</div>
          <div>date</div>
        </div>
      
        <div class="video-port" >
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCTdxD8djLyLpdxYfZjaVRKWnf3dH4G9Jm0LngEtEWGEov0y06nA">
        </div>
        
        <div class="video-details">
      
          <div class="artists-involved">
            <div class="pop">Artist</div>
            <div class="pop">Artist</div>
            <div class="pop">Artist</div>
            <div class="pop">Artist</div>
            <div class="pop">Artist</div>
            <div class="pop">Artist</div>
      
          </div>
        </div>
      </div>

      <div class="video-column">
          <!-- ngIf and ngFor info will go in the div description right above this line and the rest is just interpolation -->
          <div class="video-title-date">
            <!-- click function for title to be redirected to the details page -->
            <div routerLink="/video-details" >title</div>
            <div>date</div>
          </div>
        
          <div class="video-port" >
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCTdxD8djLyLpdxYfZjaVRKWnf3dH4G9Jm0LngEtEWGEov0y06nA">
          </div>
          
          <div class="video-details">
        
            <div class="artists-involved">
              <div class="pop">Artist</div>
              <div class="pop">Artist</div>
              <div class="pop">Artist</div>
              <div class="pop">Artist</div>
              <div class="pop">Artist</div>
              <div class="pop">Artist</div>
        
            </div>
          </div>
        </div>

<div class="video-column">
    <div class="video-title-date">
      <div>title</div>
      <div>date</div>
    </div>
  
    <div class="video-port">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCTdxD8djLyLpdxYfZjaVRKWnf3dH4G9Jm0LngEtEWGEov0y06nA">
    </div>
    
    <div class="video-details">
      <!-- this div immediately below is where the ngfor would go to cycle throught the artists associated with the video -->
      <div class="artists-involved">
        <div class="pop">Artist</div>
        <div class="pop">Artist</div>
        <div class="pop">Artist</div>
        <div class="pop">Artist</div>
        <div class="pop">Artist</div>
        <div class="pop">Artist</div>
  
      </div>
    </div>
  </div>



<!-- <cdk-virtual-scroll-viewport itemSize="50" class="page-container">

</cdk-virtual-scroll-viewport>

<div class="wrapper" >

  <ul class="video-port">
    <div>Date</div>

    <div>Video screen</div>

    <div>Video info 
      <div>video title</div>
      <div>feature description. like one sentence</div>
      <div class="artist-block" >
        <ul>

        </ul>
      </div>
    </div>




    <li>Date</li>
    <li>
      <div>
        <h3>Video Title</h3> 

        <div class="video-screen"> </div>

        <ul class="video-port-info" >
          <li>Something</li>
          <li>Tagline text and such</li>
          <li> <p>Short description of video</p> </li>
        </ul>
      </div>
    </li>
  </ul>
  
  
</div>

 -->
