
.video-column {
    // @include border-wrap();
    // width: 1000px;
    overflow: hidden;
    align-items: center;
    margin: 1em;
    padding: 1em;
    text-align: center;
    
    
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;

    .video-port {
        // @include border-tool();
        // height: 15em;
        // padding: .5em;

        overflow: hidden;


        img {
            border-radius: 1em;
            height: 15em;
        }
        
    }

    .video-details {
        margin: 2px;
        overflow: hidden;

        .artists-involved {
            margin: 1em;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            .pop {
                display: inline; 
                padding: .5em;
                // @include border-wrap();
                
            }
        }
    }
}



