
<div class="wrapper">

  <div class="back-arrow"> Back</div>

  <div class="photo-details"> 

    <div class="title">Gallery Title</div>
    <div class="image-port">Photo</div>

    <div class="gallery-info">
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium illo unde error excepturi, quae itaque atque sunt dolorem cumque illum aperiam laborum, ducimus officiis, ullam eaque mollitia minima molestias quibusdam!
        <div>DATE POSTED</div>
      </div>
      <div class="artists-featured">
        <ul>
          <li>Artist 1</li>
          <li>Artist 2</li>
          <li>Artist 3</li>
          <li>Artist 4</li>
        </ul>
      </div>
    </div>

  </div>

  <div class="forward-arrow"> Forward</div>





</div>
