
.wrapper {
    // @include border-tool();
    margin: 2em;
    padding: 1em;
    text-align: center;
}

.quote-container {
    font-size: 2em;
}

.info {
    text-align: end;
    margin-right: 4em;
    margin-top: 1em;
}