@mixin border-tool {
    border-style: double;
    border-radius: 20px;
    border-width: 2px;
    border-color: red;
}

.wrapper {
    // padding: 0;
    margin: 1em;   
}

.main-content {
    // @include border-tool();
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-gap: 1em;
    text-align: center;
}

.side {
    margin: auto;
    height: 200px;
    @include border-tool();
    overflow: hidden;
    min-width: 250px;
}
.latest {
    margin: auto;
    height: 300px;
    @include border-tool();
    overflow: hidden;
    min-width: 350px;
}